<div class="centered-container">
  <div class="form-container" style="width: 60%; margin-top: 60px">
    <mat-form-field style="width: 100%">
      <mat-label>Сервер</mat-label>
      <mat-select [(ngModel)]="serverFilter">
        <mat-option *ngFor="let server of servers" [value]="server">
          {{ server.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-container" style="width: 60%; margin-top: 10px">
    <mat-form-field style="width: 100%">
      <mat-label>Фракция</mat-label>
      <mat-select [(ngModel)]="fractionFilter">
        <mat-option *ngFor="let fraction of fractions" [value]="fraction">
          {{ fraction.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button [disabled]="!serverFilter?.id || !fractionFilter?.id" (click)="search()">Поиск</button>
</div>

<div *ngIf="count" class="centered-container">
  <div class="form-container" style="width: 60%; margin-top: 60px">
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Дата</th>
          <th>Цена</th>
          <th>Количество игроков</th>
          <th>Доля</th>
          <th>Группа</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dropJournal">
          <td>{{ item.object.name }}</td>
          <td>{{ item.date | date: 'dd MM yyyy' }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.playersCount }}</td>
          <td>{{ item.part }}</td>
          <td>{{ item.group.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
