<!--<div class="sidebar">-->
<!--  <div class="main-links">-->
<!--    <a href="index.html">Список дропа</a>-->
<!--    <a href="participants.html">Список участников</a>-->
<!--  </div>-->
<!--  <div class="admin-links">-->
<!--    <a href="manage-drops.html">Управление дропами</a>-->
<!--    <a href="manage-participants.html">Управление участниками</a>-->
<!--  </div>-->
<!--</div>-->

<div class="content-wrapper">
  <div class="main-content">
    <div class="table-container">
      <!-- Картинка слева от описания -->
      <img ngSrc="assets/speed.png" alt="Изображение предмета" class="drop-image" width="120" height="120" />
      <div class="info">
        <h2>{{ drop.object.objectType.name }} "{{ drop.object.name }}"</h2>
        <p><strong>Цена:</strong> {{ drop.price }}</p>
        <p><strong>Участники:</strong> {{ drop.playersCount }}</p>
        <p><strong>Размер доли:</strong> {{ drop.part }}</p>
        <p><strong>Дата дропа:</strong> {{ drop.date | date: 'dd.MM.yyyy' }}</p>
      </div>
    </div>

    <div class="participant-list">
      <h3 style="padding-bottom: 10px">Участники</h3>
      <div class="participant-header">
        <span>Ник</span>
        <span>Доли</span>
        <span>Сумма</span>
        <span>Статус</span>
      </div>
      <!-- Изначальные данные -->
      <div class="participant" *ngFor="let dropPlayer of dropPlayers">
        <span>{{ dropPlayer.player.nick }}</span>
        <span>{{ dropPlayer.part }}</span>
        <span>{{ getSum(dropPlayer) }}</span>
        <span>{{ dropPlayer.isPaid ? 'Выплачено' : 'Не выплачено' }}</span>
      </div>
    </div>
  </div>
  <div class="form-container" style="width: 300px; position: sticky; top: 25px; height: fit-content">
    <h3>Добавить участника</h3>
    <form [formGroup]="formGroup">
      <input type="text" formControlName="nick" [placeholder]="'Ник игрока'" [required]="true" />

      <mat-form-field style="width: 100%">
        <mat-label>Сервер</mat-label>
        <mat-select formControlName="class">
          <mat-option *ngFor="let class of classList" [value]="class">
            {{ class.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <input type="number" formControlName="part" [placeholder]="'Доли'" [required]="true" />

      <mat-checkbox formControlName="isPaid">Выплачено</mat-checkbox>

      <!--      <select name="status" required>-->
      <!--        <option value="received">Выплачено</option>-->
      <!--        <option value="pending">Ожидание</option>-->
      <!--      </select>-->

      <input type="submit" value="Добавить" (click)="addPlayer()" />
    </form>
  </div>
</div>
